html, body {
  height: 100vh;
  // margin-top: 50px;
} 

.title-cross,
.recipe-cross {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hero {
  // background-image: url('https://res.cloudinary.com/sanitarium/image/fetch/q_auto/https://www.sanitarium.com.au/getmedia%2Fae51f174-984f-4a70-ad3d-3f6b517b6da1%2Ffruits-vegetables-healthy-fats.jpg%3Fwidth%3D1180%26height%3D524%26ext%3D.jpg');
  // background-image: url('https://www.anourishedlifenutrition.com/wp-content/uploads/2016/07/vegetables-wooden-background-croppedx2.jpg');
  background-image: url('https://visitindianrivercounty.com/wp-content/uploads/2015/12/iStock_76355911_LARGE.jpg');
  // background-position: center;
  background-size: cover;
  margin-top: 57px;
  // opacity: 0.9;
}
.hero-body.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-text {
  color: white;
  font-size: 80px;
}
.title-hero {
  align-self: center;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.tile.is-child {
  margin: 10px !important;
}

h1 {
  align-items: center !important;
  padding-left: 30px !important;
}

li {
  padding: 5px !important;
}

.Loading {
  display: flex;
  justify-content: center;
  }

  p.title {
    font-size: 70px;
  }
  .nutrifix {
    text-shadow: 0.5px 0.5px black;

  }

  p.subtitle {
    font-size: 30px;
  }

  h2.recipe.title {
    font-family: 'Merienda', cursive;
  }

  p.recipeTitle {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: 'Merienda', cursive;
  }
.button {
  box-shadow: 1px 1px #afaaaa;
}

.subtitle.recipe {
  font-family: 'Merienda', cursive;
}

.edit-button {
  margin: 5px 15px;
}

.button.tag {
  background-color: white;
} 
.button.tag:hover {
  background-color: white;
  text-decoration: none;
  box-shadow:0px 5px 5px rgba(0,0,0,0.2);
  transform : translateY(-1px);
} 
.tabs.is-boxed a:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.tabs.is-boxed a {
  font-weight: 700;
  border-bottom: none ;
  text-shadow: 1px 1px black;
    // border-radius: 4px;
}

.instructions-list {
 margin-left: 20px;
}

.button.tag.tag-selected {
  // background-color: #79767660;
  background-color: #ffad00;
  box-shadow: 0 8px 7px -7px black;
}


.navbar {
  // position: absolute !important;
  
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  // margin-bottom: 50px;
}

.navbar-menu {
  background-color: transparent;
}

.a.navbar-item {
  background-color: transparent;
}

#big-container {
  margin-top: 70px;
}

.navbar-logo {
  position: relative;
  margin-left: 20px;
  margin-top: 8px;
}

img.recipe-image {
  height: 300px;
  width: 100%;
}
.ingredients-box {
  max-height: 535px;
  overflow: hidden scroll;
}

// .instructions-box {
//   max-height: 700px;
//   overflow: hidden scroll;
// }

.flex-parent {
  display: flex;
  flex-direction: column;
}
.field.is-grouped {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;

}
.field.is-grouped.is-grouped-multiline {
  margin-bottom: 30px !important;
}

.tile.is-parent {
  padding: 0px !important;
}

.single-recipe-img {
  padding-bottom: 20px;
}

// @font-face {  
//   font-family: 'Fredericka the Great', cursive;  
//   src: url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
// }

// .recipe {
//   font-family: 'Fredericka the Great', cursive;
// }

div.shoppingList  {
  background-image: url('https://i.ya-webdesign.com/images/notepad-background-png.png');
  background-size: 800px;
  background-repeat: no-repeat;
  width: 800px;
  height: 600px;
  padding-top: 60px;
  padding-left: 30px;
}

.shoppingScroll {
  overflow: hidden scroll;
  height: 500px;
}


h2.remaining {
  padding-bottom: 20px !important;
  display: flex;
  justify-content: center;
}

.input.item{
width: 400px
}

.button.addItem {
  box-shadow: 0 8px 7px -7px black;
  font-size: 15px;
  margin-left: 10px;
}

.addItem:hover {
  background-color: #ffad00;
  text-decoration: none;
  box-shadow:0px 5px 5px rgba(0,0,0,0.2);
  transform : translateY(-1px);
} 

.title.shopping {
  display: flex;
  justify-content: center;
}

.section.shoppingForm {
  padding: 5px;
  padding-bottom: 15px;
}

.container.shopping {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form.form.shopping{
  display: flex;
  justify-content: center;
}

.section.shopping {
  padding: 30px;
}

.addedList {
  font-size: 20px;
}

.checkbox{
  margin: 5px;
}

.container.register {
  padding-top: 50px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding-left: 400px;
}

.control.has-icons-left.has-icons-right {
  width: 500px;
}

.container.login {
  padding-top: 50px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding-left: 400px;
}

h1.title.login {
  padding-left: 170px !important;

}

h1.title.register {
  padding-left: 170px !important;

}

.button.is-success {
  border-radius: 20px;
  width: 500px;
}

button.is-link {
  border-radius: 20px;
  width: 500px;
}
